## Preprocessing

In [27]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [28]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)

In [29]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [30]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [31]:
# Choose a cutoff value and create a list of application types to be replaced
# Using larger amount of bins to reduce the number of unique values
application_types_to_replace_1 = list(application_counts[(application_counts > 10) & (application_counts < 500)].index)

# Replace in dataframe
for app in application_types_to_replace_1:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other(250-500)")

# Second Binning
application_types_to_replace_2 = list(application_counts[application_counts < 10].index)

# Replace in dataframe
for app in application_types_to_replace_2:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other(<250)")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3                27037
T4                 1542
T6                 1216
T5                 1173
T19                1065
T8                  737
T7                  725
T10                 528
Other(250-500)      265
Other(<250)          11
Name: APPLICATION_TYPE, dtype: int64

In [32]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [33]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [34]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 750].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [35]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other(250-500),APPLICATION_TYPE_Other(<250),APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [36]:
# Split our preprocessed data into our features and target arrays
x = application_df.drop(columns=["IS_SUCCESSFUL"]).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=78)

In [37]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Create a new model with further optimizations

In [38]:
# Import our dependencies
# Will be using keras_tuner to automatically tune the hyperparameters of our model
# This is a much more effective way of optimizing the model than manually adjusting parameters
import keras_tuner as kt

In [60]:
# Use keras tuner to find the best learning rate and parameters for the model

# Define the model
def create_nn_model(hp):
    # Create a sequential model
    nn = tf.keras.models.Sequential()

    # Add our first hidden layer where the input dimensions are the 45 columns of our dataset
    # Make Keras Tuner find the optimal number of nodes in this layer
    # Make Keras Tuner find the optimal activation function to use in this layer
    nn.add(tf.keras.layers.Dense(units=hp.Int('first_units',
                                        min_value=1,
                                        max_value=80,
                                        step=2), input_dim=45, activation=hp.Choice('first_activation', ['relu', 'tanh', 'sigmoid', 'softmax'])))
    
    # Make Keras Tuner find the optimal number of hidden layers to use
    # Make Keras Tuner find the optimal number of nodes to use in each hidden layer
    # Make Keras Tuner find the optimal activation function to use in each hidden layer
    for i in range(hp.Int('num_layers', 1, 10)):
        nn.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                            min_value=1,
                                            max_value=80,
                                            step=2),
                               activation=hp.Choice('activation_' + str(i), ['relu', 'tanh', 'sigmoid', 'softmax'])))
        
    # Add our output layer
    # Make Keras Tuner find the optimal activation function to use in the output layer
    nn.add(tf.keras.layers.Dense(units=1, activation=hp.Choice('output_activation', ['relu', 'tanh', 'sigmoid', 'softmax'])))

    # Compile our model
    # Make Keras Tuner find the optimal learning rate to use
    nn.compile(loss="binary_crossentropy", optimizer=tf.keras.optimizers.Adam(hp.Choice('learning_rate', [1e-2, 1e-3, 1e-4])), metrics=["accuracy"])

    # Return our model
    return nn

In [62]:
# Create a Keras Tuner Hyperband tuner
tuner = kt.Hyperband(create_nn_model,
                     objective='val_accuracy',
                     max_epochs=80,
                     factor=3,
                     directory='Testing_Paramater_Directory',
                     project_name='AlphabetSoupCharity_Optimization')

# Use the tuner to find the optimal hyperparameters
tuner.search(x_train_scaled,y_train,epochs=80,validation_data=(x_test_scaled,y_test))

Trial 90 Complete [00h 02m 08s]
val_accuracy: 0.7248979806900024

Best val_accuracy So Far: 0.7294460535049438
Total elapsed time: 00h 35m 06s

In [63]:
# Get the optimal hyperparameters from the tuner
best_hyperparameters = tuner.get_best_hyperparameters(1)[0]
best_hyperparameters.values

{'first_units': 25,
 'first_activation': 'softmax',
 'num_layers': 3,
 'units_0': 65,
 'activation_0': 'softmax',
 'output_activation': 'tanh',
 'learning_rate': 0.01,
 'units_1': 7,
 'activation_1': 'relu',
 'units_2': 33,
 'activation_2': 'tanh',
 'units_3': 9,
 'activation_3': 'sigmoid',
 'units_4': 39,
 'activation_4': 'softmax',
 'units_5': 33,
 'activation_5': 'tanh',
 'units_6': 3,
 'activation_6': 'softmax',
 'units_7': 57,
 'activation_7': 'relu',
 'units_8': 61,
 'activation_8': 'tanh',
 'units_9': 13,
 'activation_9': 'relu',
 'tuner/epochs': 80,
 'tuner/initial_epoch': 27,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0069'}

In [65]:
# Create a new model with the optimal hyperparameters
optimized_model = tuner.get_best_models(1)[0]

# Evaluate the model using the test data
optimized_model_loss, optimized_model_accuracy = optimized_model.evaluate(x_test_scaled,y_test,verbose=2)

# Print the model loss and accuracy results
print(f"Loss: {optimized_model_loss}, Accuracy: {optimized_model_accuracy}")

268/268 - 0s - loss: 0.5802 - accuracy: 0.7294 - 418ms/epoch - 2ms/step
Loss: 0.5801840424537659, Accuracy: 0.7294460535049438

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From b:\CONDA\install\envs\amd_dev_2\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From b:\CONDA\install\envs\amd_dev_2\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From b:\CONDA\install\envs\amd_dev_2\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 1s 943us/step - loss: 1.2936 - accuracy: 0.6749
Epoch 2/100
804/804 [==============================] - 1s 920us/step - loss: 1.3590 - accuracy: 0.6928
Epoch 3/100
804/804 [==============================] - 1s 932us/step - loss: 1.3255 - accuracy: 0.7004
Epoch 4/100
804/804 [==============================] - 1s 920us/step - loss: 1.3550 - accuracy: 0.6841
Epoch 5/100
804/804 [==============================] - 1s 920us/step - loss: 0.8428 - accuracy: 0.7038
Epoch 6/100
804/804 [==============================] - 1s 951us/step - loss: 1.0998 - accuracy: 0.6929
Epoch 7/100
804/804 [==============================] - 1s 915us/step - loss: 1.0064 - accuracy: 0.7128
Epoch 8/100
804/804 [==============================] - 1s 939us/step - loss: 0.9605 - accuracy: 0.7137
Epoch 9/100
804/804 [==============================] - 1s 936us/step - loss: 1.1284 - accuracy: 0.7009
Epoch 10/100
804/804 [==============================] - 1s 941us/step - loss: 1.0405 - accuracy: 0.7096
Epoch 11/100
804/804 [==============================] - 1s 961us/step - loss: 0.9208 - accuracy: 0.7138
Epoch 12/100
804/804 [==============================] - 1s 918us/step - loss: 0.8620 - accuracy: 0.7168
Epoch 13/100
804/804 [==============================] - 1s 941us/step - loss: 0.8724 - accuracy: 0.7132
Epoch 14/100
804/804 [==============================] - 1s 930us/step - loss: 0.8637 - accuracy: 0.7167
Epoch 15/100
804/804 [==============================] - 1s 923us/step - loss: 0.7478 - accuracy: 0.7216
Epoch 16/100
804/804 [==============================] - 1s 923us/step - loss: 0.6493 - accuracy: 0.7240
Epoch 17/100
804/804 [==============================] - 1s 923us/step - loss: 0.6345 - accuracy: 0.7210
Epoch 18/100
804/804 [==============================] - 1s 920us/step - loss: 0.6244 - accuracy: 0.7280
Epoch 19/100
804/804 [==============================] - 1s 938us/step - loss: 0.6237 - accuracy: 0.7296
Epoch 20/100
804/804 [==============================] - 1s 935us/step - loss: 0.6421 - accuracy: 0.7309
Epoch 21/100
804/804 [==============================] - 1s 918us/step - loss: 0.6511 - accuracy: 0.7284
Epoch 22/100
804/804 [==============================] - 1s 915us/step - loss: 0.7033 - accuracy: 0.7172
Epoch 23/100
804/804 [==============================] - 1s 965us/step - loss: 0.6343 - accuracy: 0.7259
Epoch 24/100
804/804 [==============================] - 1s 973us/step - loss: 0.6135 - accuracy: 0.7310
Epoch 25/100
804/804 [==============================] - 1s 936us/step - loss: 0.6018 - accuracy: 0.7304
Epoch 26/100
804/804 [==============================] - 1s 959us/step - loss: 0.6085 - accuracy: 0.7280
Epoch 27/100
804/804 [==============================] - 1s 985us/step - loss: 0.5989 - accuracy: 0.7312
Epoch 28/100
804/804 [==============================] - 1s 934us/step - loss: 0.6021 - accuracy: 0.7255
Epoch 29/100
804/804 [==============================] - 1s 929us/step - loss: 0.5924 - accuracy: 0.7301
Epoch 30/100
804/804 [==============================] - 1s 892us/step - loss: 0.5802 - accuracy: 0.7341
Epoch 31/100
804/804 [==============================] - 1s 928us/step - loss: 0.5830 - accuracy: 0.7318
Epoch 32/100
804/804 [==============================] - 1s 991us/step - loss: 0.5796 - accuracy: 0.7341
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5816 - accuracy: 0.7316
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5825 - accuracy: 0.7319
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5828 - accuracy: 0.7286
Epoch 36/100
804/804 [==============================] - 1s 983us/step - loss: 0.5719 - accuracy: 0.7332
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5647 - accuracy: 0.7339
Epoch 38/100
804/804 [==============================] - 1s 966us/step - loss: 0.5728 - accuracy: 0.7304
Epoch 39/100
804/804 [==============================] - 1s 948us/step - loss: 0.5711 - accuracy: 0.7343
Epoch 40/100
804/804 [==============================] - 1s 937us/step - loss: 0.5694 - accuracy: 0.7341
Epoch 41/100
804/804 [==============================] - 1s 946us/step - loss: 0.5666 - accuracy: 0.7357
Epoch 42/100
804/804 [==============================] - 1s 941us/step - loss: 0.5906 - accuracy: 0.7344
Epoch 43/100
804/804 [==============================] - 1s 943us/step - loss: 0.5818 - accuracy: 0.7312
Epoch 44/100
804/804 [==============================] - 1s 950us/step - loss: 0.5692 - accuracy: 0.7342
Epoch 45/100
804/804 [==============================] - 1s 953us/step - loss: 0.5710 - accuracy: 0.7315
Epoch 46/100
804/804 [==============================] - 1s 948us/step - loss: 0.5694 - accuracy: 0.7336
Epoch 47/100
804/804 [==============================] - 1s 939us/step - loss: 0.5747 - accuracy: 0.7348
Epoch 48/100
804/804 [==============================] - 1s 929us/step - loss: 0.5845 - accuracy: 0.7294
Epoch 49/100
804/804 [==============================] - 1s 933us/step - loss: 0.5697 - accuracy: 0.7322
Epoch 50/100
804/804 [==============================] - 1s 933us/step - loss: 0.5635 - accuracy: 0.7359
Epoch 51/100
804/804 [==============================] - 1s 932us/step - loss: 0.5653 - accuracy: 0.7364
Epoch 52/100
804/804 [==============================] - 1s 939us/step - loss: 0.5653 - accuracy: 0.7336
Epoch 53/100
804/804 [==============================] - 1s 924us/step - loss: 0.5676 - accuracy: 0.7353
Epoch 54/100
804/804 [==============================] - 1s 954us/step - loss: 0.5700 - accuracy: 0.7354
Epoch 55/100
804/804 [==============================] - 1s 919us/step - loss: 0.5701 - accuracy: 0.7348
Epoch 56/100
804/804 [==============================] - 1s 934us/step - loss: 0.5694 - accuracy: 0.7348
Epoch 57/100
804/804 [==============================] - 1s 940us/step - loss: 0.5700 - accuracy: 0.7355
Epoch 58/100
804/804 [==============================] - 1s 920us/step - loss: 0.5709 - accuracy: 0.7335
Epoch 59/100
804/804 [==============================] - 1s 938us/step - loss: 0.5716 - accuracy: 0.7325
Epoch 60/100
804/804 [==============================] - 1s 932us/step - loss: 0.5637 - accuracy: 0.7350
Epoch 61/100
804/804 [==============================] - 1s 921us/step - loss: 0.5747 - accuracy: 0.7299
Epoch 62/100
804/804 [==============================] - 1s 945us/step - loss: 0.5691 - accuracy: 0.7338
Epoch 63/100
804/804 [==============================] - 1s 928us/step - loss: 0.5644 - accuracy: 0.7351
Epoch 64/100
804/804 [==============================] - 1s 919us/step - loss: 0.5633 - accuracy: 0.7370
Epoch 65/100
804/804 [==============================] - 1s 925us/step - loss: 0.5625 - accuracy: 0.7357
Epoch 66/100
804/804 [==============================] - 1s 936us/step - loss: 0.5764 - accuracy: 0.7359
Epoch 67/100
804/804 [==============================] - 1s 933us/step - loss: 0.5704 - accuracy: 0.7365
Epoch 68/100
804/804 [==============================] - 1s 926us/step - loss: 0.5666 - accuracy: 0.7355
Epoch 69/100
804/804 [==============================] - 1s 933us/step - loss: 0.5625 - accuracy: 0.7357
Epoch 70/100
804/804 [==============================] - 1s 933us/step - loss: 0.5681 - accuracy: 0.7368
Epoch 71/100
804/804 [==============================] - 1s 933us/step - loss: 0.5810 - accuracy: 0.7233
Epoch 72/100
804/804 [==============================] - 1s 935us/step - loss: 0.5656 - accuracy: 0.7363
Epoch 73/100
804/804 [==============================] - 1s 956us/step - loss: 0.5619 - accuracy: 0.7376
Epoch 74/100
804/804 [==============================] - 1s 938us/step - loss: 0.5622 - accuracy: 0.7378
Epoch 75/100
804/804 [==============================] - 1s 916us/step - loss: 0.5628 - accuracy: 0.7370
Epoch 76/100
804/804 [==============================] - 1s 929us/step - loss: 0.5691 - accuracy: 0.7314
Epoch 77/100
804/804 [==============================] - 1s 927us/step - loss: 0.5695 - accuracy: 0.7362
Epoch 78/100
804/804 [==============================] - 1s 955us/step - loss: 0.5734 - accuracy: 0.7317
Epoch 79/100
804/804 [==============================] - 1s 938us/step - loss: 0.5658 - accuracy: 0.7372
Epoch 80/100
804/804 [==============================] - 1s 930us/step - loss: 0.5673 - accuracy: 0.7366
Epoch 81/100
804/804 [==============================] - 1s 980us/step - loss: 0.5686 - accuracy: 0.7337
Epoch 82/100
804/804 [==============================] - 1s 928us/step - loss: 0.5672 - accuracy: 0.7359
Epoch 83/100
804/804 [==============================] - 1s 929us/step - loss: 0.5809 - accuracy: 0.7234
Epoch 84/100
804/804 [==============================] - 1s 923us/step - loss: 0.5653 - accuracy: 0.7369
Epoch 85/100
804/804 [==============================] - 1s 932us/step - loss: 0.5655 - accuracy: 0.7376
Epoch 86/100
804/804 [==============================] - 1s 948us/step - loss: 0.5740 - accuracy: 0.7369
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5673 - accuracy: 0.7378
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5692 - accuracy: 0.7377
Epoch 89/100
804/804 [==============================] - 1s 982us/step - loss: 0.5716 - accuracy: 0.7374
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5731 - accuracy: 0.7358
Epoch 91/100
804/804 [==============================] - 1s 940us/step - loss: 0.5672 - accuracy: 0.7356
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5621 - accuracy: 0.7361
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5683 - accuracy: 0.7368
Epoch 94/100
804/804 [==============================] - 1s 996us/step - loss: 0.5626 - accuracy: 0.7377
Epoch 95/100
804/804 [==============================] - 1s 892us/step - loss: 0.5839 - accuracy: 0.7212
Epoch 96/100
804/804 [==============================] - 1s 933us/step - loss: 0.5661 - accuracy: 0.7366
Epoch 97/100
804/804 [==============================] - 1s 970us/step - loss: 0.5625 - accuracy: 0.7374
Epoch 98/100
804/804 [==============================] - 1s 917us/step - loss: 0.5613 - accuracy: 0.7384
Epoch 99/100
804/804 [==============================] - 1s 906us/step - loss: 0.5650 - accuracy: 0.7367
Epoch 100/100
804/804 [==============================] - 1s 913us/step - loss: 0.5684 - accuracy: 0.7348

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5882 - accuracy: 0.7205 - 326ms/epoch - 1ms/step
Loss: 0.5881528258323669, Accuracy: 0.7204664945602417

In [20]:
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")